/* base */
@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");

@charSet "utf-8";
 
/* font 설정 */
@font-face {
 font-family: 'NanumSquare';
 src: url(../webfont/NanumSquareR.eot);
 src: url(../webfont/NanumSquareR.eot?#iefix) format('embedded-opentype'),
      url(../webfont/NanumSquareR.woff) format('woff'),
      url(../webfont/NanumSquareR.ttf) format('truetype');
}

@font-face {
 font-family: 'NanumSquareB';
 src: url(../webfont/NanumSquareB.eot);
 src: url(../webfont/NanumSquareB.eot?#iefix) format('embedded-opentype'),
      url(../webfont/NanumSquareB.woff) format('woff'),
      url(../webfont/NanumSquareB.ttf) format('truetype');
}

html{height:100%;}
body {font-size:14px;line-height:1em;color:#999;width: 100%; height:100%; background:#161616; } 
body,h1,h2,h3,h4,input,button{font-family:'NanumSquare', 'NanumSquareB',arial, serif, sans-serif;}


* {margin: 0; padding: 0;}
img,fieldset,button,p {border:0 none;}
ul, ol, li {list-style: none; }
legend {display: none;}
caption{text-indent: -9999px;font-size:0;}
button {cursor: pointer;}
select{font-size:12px;}
label {display:none;visibility:hidden;over-flow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0;}
radio,checkbox {border:0px;}

a {color: #666;outline: none;	text-decoration: none;line-height:1.375em;}
a:hover {text-decoration: none;}

.png24 { tmp:expression(setPng24(this));} 

.pdt2{padding-top:2px !important;}
.pdt3{padding-top:3px !important;}
.pdt5{padding-top:5px !important;}
.pdt6{padding-top:6px !important;}
.pdt7{padding-top:7px !important;}
.pdt9{padding-top:9px !important;}
.pdt10{padding-top:10px !important;}
.pdt15{padding-top:15px !important;}
.pdt18{padding-top:18px !important;}
.pdt20{padding-top:20px !important;}
.pdt30{padding-top:30px !important;}
.pdt50{padding-top:50px !important;}
.pdt80{padding-top:80px !important;}

.pdl5 {padding-left:5px !important;}
.pdl10 {padding-left:10px !important;}
.pdl20 {padding-left:20px !important;}

.cl {clear:both;zoom:1}
.ct{text-align:center;}
.cr{text-align:right;}
.flt_r{float:right;}
.flt_l{float:left;} 
.poR {position:relative;}
.poA {position:absolute;}
.h40 {height:40px;}
.w48p {width:48%;}
.w49p {width:49%;}
.w1p {width:2%;}
.w3p {width:3%;}
.w4p {width:4%;}
.w5p {width:5%;}
.w20p {width:20%;}
.w32p {width:32%;}
.w36p {width:36%;}
.w37p {width:37%;}
.w38p {width:38%;}
.w58p {width:58%;}
.w59p {width:59%;}
.w75p {width:75%;}
.w60p {width:60%;}
.w61p {width:61%;}
.w63p {width:63%;}
.w35p {width:35%;}
.w2p {width:2%;}


.inblck {display:inline-block;}

.form_area1 { top:5px; left:90px; }
.form_area2 {width:70%}

.Paragraph1 {border-bottom:1px dotted #ddd; padding:10px 0; }
.Paragraph2 {padding:5px 0;}
.Paragraph3 {padding:10px 0;}
.Paragraph4 {border-bottom:1px dotted #ddd; padding:0 0 10px 0;}
.Paragraph5 {padding:10px 0 0 0;}
.Paragraph6 {border-bottom:1px solid #ddd; padding:25px 0; }
.Paragraph7 {padding:10px 5px 0 0;}

.input_50 {border:1px solid #ccc; background:#f6f6f6; border-radius:5px; padding:5px 0 4px 0; width:50px; font-size:14px; color:#464646; box-sizing: border-box;}
.input_23 {border:1px solid #ccc; background:#f6f6f6; border-radius:5px; padding:5px 0 4px 0; width:25%; font-size:14px; color:#464646; box-sizing: border-box;}
.input_70 {border:1px solid #ccc; background:#f6f6f6; border-radius:5px; padding:5px 0 4px 0; width:70%; font-size:14px; color:#464646; box-sizing: border-box;}
.input_100 {border:1px solid #ccc; background:#f6f6f6; border-radius:5px; padding:5px 0 4px 0; width:100%; font-size:14px; color:#464646; box-sizing: border-box;}
.input_100p {border:1px solid #ccc; background:#f6f6f6; border-radius:5px; padding:7px 0 7px 0; width:100%; font-size:14px; color:#464646; box-sizing: border-box;}

.input_txt1{position:absolute; top:10px; margin-left:10px; font-size:14px; color:#999}
.input_txt2{position:absolute; top:20px; margin-left:10px; font-size:14px; color:#999;}
.input_txt3{position:absolute; top:5px; margin-left:5px; font-size:14px; color:#999;}

.con_txt1 {line-height:100%; font-size:15px; color:#333; font-weight:bold;}
.con_txt2 {font-weight:normal;}
.con_txt3 {font-size:14px; color:#999; font-weight:normal;}
.con_txt4 {font-size:12px; color:#999; font-weight:normal;}

.note_box {border:1px solid #ccc; background:#f6f6f6; padding:10px; font-size:13px; color:#999; font-weight:normal;}

.top_ttl {position:relative; background:#0172b7; font-size:18px; color:#fff;  font-weight:bold; padding:9px 0; text-align:center; } 
.alert_txt1{height:18px; line-height:100%; font-size:14px; color:#777; font-weight:bold;}

.arw_yellow1 {color:#fff600; font-weight:bold; font-size:15px;}
.arw_white1 {color:#fff; font-weight:bold; font-size:15px;}
.arw_black1 {color:#555; font-weight:bold; font-size:15px;}

.btn_red1 {background:linear-gradient(to bottom, #d1250e 0%,#a2392b 100%); border-radius:5px;border:1px solid #a2392b; line-height:40px; height:40px; display:block; font-size:15px; color:#fff; padding:0 10px; font-weight:bold;}
.btn_red2 {background:linear-gradient(to bottom, #d1250e 0%,#a2392b 100%); border-radius:5px;border:1px solid #a2392b; line-height:35px; height:35px; display:block; font-size:14px; color:#fff; text-align:center; font-weight:bold;}
.btn_red3 {background:linear-gradient(to bottom, #d1250e 0%,#a2392b 100%); border-radius:5px;border:1px solid #a2392b; line-height:40px; height:40px; display:block; font-size:15px; color:#fff600; text-align:center; font-weight:bold;}


.btn_white1 {background:linear-gradient(to bottom, #fcfcfc 0%,#b3b3b3 100%); border-radius:5px;border:1px solid #b3b3b3; line-height:35px; height:35px; display:block; font-size:15px; color:#414141; text-align:center; font-weight:bold;}
.btn_white2 {background:linear-gradient(to bottom, #fcfcfc 0%,#b3b3b3 100%); border-radius:5px;border:1px solid #b3b3b3; line-height:24px; height:24px; display:block; font-size:12px; color:#777; text-align:center; font-weight:bold;}


.btn_blue1 {background:linear-gradient(to bottom, #0ba8e0 0%,#0990c0 100%); border-radius:5px;border:1px solid #086c8f; line-height:35px; height:35px; display:block; font-size:14px; color:#fff; text-align:center; font-weight:bold;}
.btn_blue2 {background:linear-gradient(to bottom, #0164b0 0%,#01487f 100%); border-radius:5px;border:1px solid #01487f; line-height:40px; height:40px; display:block; font-size:15px; color:#fff; text-align:left; font-weight:bold; padding:0 10px; }
.btn_blue3 {background:linear-gradient(to bottom, #0164b0 0%,#01487f 100%); border-radius:5px;border:1px solid #01487f; line-height:35px; height:35px; display:block; font-size:15px; color:#fff; text-align:center; font-weight:bold;}
.btn_blue4 {background:linear-gradient(to bottom, #0ba8e0 0%,#0990c0 100%); border-radius:5px;border:1px solid #086c8f; line-height:50px; height:50px; display:block; font-size:18px; color:#fff; text-align:center; font-weight:bold;}
.btn_blue5 {background:linear-gradient(to bottom, #0ba8e0 0%,#0990c0 100%); border-radius:5px;border:1px solid #086c8f; line-height:30px; height:30px; display:block; font-size:14px; color:#fff; text-align:center; font-weight:bold;}
.btn_blue6 {background:linear-gradient(to bottom, #0164b0 0%,#01487f 100%); border-radius:5px;border:1px solid #01487f; line-height:40px; height:40px; display:block; font-size:15px; color:#fff; text-align:center; font-weight:bold;}
.btn_blue7 {background:linear-gradient(to bottom, #0ba8e0 0%,#0990c0 100%); border-radius:5px;border:1px solid #086c8f; line-height:40px; height:40px; display:block; font-size:15px; color:#fff; text-align:center; font-weight:bold;}
.btn_blue8 {background:linear-gradient(to bottom, #0ba8e0 0%,#0990c0 100%); border-radius:5px;border:1px solid #086c8f; line-height:24px; height:24px; display:block; font-size:12px; color:#fff; text-align:center; font-weight:bold;}


.btn_gray1 {background:linear-gradient(to bottom, #aaa 0%,#888 100%); border-radius:5px;border:1px solid #888; line-height:35px; height:35px; display:block; font-size:14px; color:#fff; text-align:center; font-weight:bold;}
.btn_gray2 {background:linear-gradient(to bottom, #fcfcfc 0%,#b3b3b3 100%); border-radius:5px;border:1px solid #b3b3b3; line-height:40px; height:40px; display:block; font-size:15px; color:#414141; text-align:right; font-weight:bold; padding:0 10px; }
.btn_gray3 {background:linear-gradient(to bottom, #aaa 0%,#888 100%); border-radius:5px;border:1px solid #888; line-height:50px; height:50px; display:block; font-size:18px; color:#fff; text-align:center; font-weight:bold;}
.btn_gray4 {background:linear-gradient(to bottom, #fcfcfc 0%,#b3b3b3 100%); border-radius:5px;border:1px solid #b3b3b3; line-height:35px; height:35px; display:block; font-size:15px; color:#414141; text-align:center; font-weight:bold; padding:0 10px; }
.btn_gray5 {background:linear-gradient(to bottom, #aaa 0%,#888 100%); border-radius:5px;border:1px solid #888; line-height:30px; height:30px; display:block; font-size:14px; color:#fff; text-align:center; font-weight:bold;}
.btn_gray6 {background:linear-gradient(to bottom, #aaa 0%,#888 100%); border-radius:5px;border:1px solid #888; line-height:40px; height:40px; display:block; font-size:15px; color:#fff; text-align:center; font-weight:bold;}


.btn_schedule {background:#888; border-radius:5px; border:1px solid #666; line-height:40px; height:40px; display:block; font-size:18px; color:#fff; padding:0 10px; font-weight:bold; text-align:center;}

.pg_img1 {border:1px solid #ccc}

.division1 {position:relative; display:inline-block; width:30%; line-height:100%; font-size:15px; color:#333; font-weight:bold;} 
.division2 {position:relative; display:inline-block; text-align:left; width:70%; font-size:14px; color:#999;}
.division2 li{display:inline-block;}
.division3 {position:absolute; width:40%; height:100px; line-height:20px; font-size:14px; color:#333; font-weight:bold; letter-spacing:-0.1em; word-spacing:0;} 
.division4 {position:relative; left:40%; font-size:14px; color:#666; font-weight:bold; text-align:left; width:60%;  line-height:20px; }
.division4 .txt1{color:#ff6600;}
.division4 .txt2{color:#999; font-size:13px; font-weight:normal; line-height:18px;}
.division5 {position:relative; display:inline-block; width:50%; line-height:100%; font-size:18px; color:#333; font-weight:bold;} 
.division6 {position:relative; display:inline-block; text-align:right; width:50%; line-height:18px; font-size:14px; color:#999;}
.division6 li{display:inline-block;}
.division6 .right{position:absolute; right:0; top:-18px;}
.division7 {position:relative; display:inline-block; width:100%; font-size:14px; color:#333; font-weight:bold;}
.division7 li{display:inline-block;}

.eticket_btn {position:absolute; top:-3px; left:60px; width:90px;}
.eticket_btn2 {position:absolute; top:1px; left:45px; width:90px;}

.tab2 {width:100%; margin:0 auto; overflow:hidden; text-align:center; height:36px; line-height:36px; font-size:16px; font-weight:bold;}
.tab2 a {float:left; display:block; border-top-right-radius:7px; border-top-left-radius:7px; border-bottom:1px solid #0179be; color:#fff; width:49.65%; background:#818181; }
.tab2 a.on {border-top-right-radius:7px; border-top-left-radius:7px; border-bottom:1px solid #fff; border-top:1px solid #0179be; border-left:1px solid #0179be; border-right:1px solid #0179be; color:#2f4382 ; background:#fff;}	

.tab3 {width:100%; margin:0 auto; overflow:hidden; text-align:center; height:36px; line-height:36px; font-size:16px; font-weight:bold;}
.tab3 a {float:left; display:block; border-top-right-radius:7px; border-top-left-radius:7px; border-bottom:1px solid #0179be; color:#fff; width:33.1%; background:#818181; }
.tab3 a.on {border-top-right-radius:7px; border-top-left-radius:7px; border-bottom:1px solid #fff; border-top:1px solid #0179be; border-left:1px solid #0179be; border-right:1px solid #0179be; color:#2f4382 ; background:#fff;}	


.left_close{position:absolute; top:5px; left:245px; width:40px;}

/* 전체적용 */
#wrap {margin:0px; min-width: 320px; -webkit-background-size:320px; height:100%; }

#header{position:relative; height:54px; background:#222; border-bottom:1px solid #6d695a; }
#header h1 {position:relative; margin:0px auto; width:170px; height:34px; top:10px;}
#header .top_btn {position:absolute; top:10px; left:15px; width:32px; height:32px; border-radius:10px; border:1px solid #918b78; box-shadow:0px 0px 2px #000; -webkit-box-shadow:0px 0px 2px #000; -moz-box-shadow:0px 0px 2px #000; background:linear-gradient(to bottom, #2b2c30 0%,#202125 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#2b2c30), color-stop(100%,#202125));}
#header .btn_home {display:block; width:32px; height:32px; background:url('../images/top_home.png')no-repeat center; background-size:70%;}

#visual {position:relative; height:220px; background:url('../images/m_bg.jpg')no-repeat bottom center #161616; background-size:100%; padding:15px;}
#visual .round{position:relative; border-radius:50%; margin:0 auto; width:220px; height:220px; text-align:center;}
#visual .rank1{position:absolute; top:85px; left:0; color:#fff; font-size:40px; line-height:40px; font-family:'NanumSquareB'; }
#visual .rank2{position:absolute; top:125px; left:75px; color:#eee; font-size:37px; line-height:37px; font-family:'NanumSquareB'; }
#visual .rank3{position:absolute; top:165px; left:40px; color:#ddd; font-size:34px; line-height:34px; font-family:'NanumSquareB'; }
#visual .rank4{position:absolute; top:20px; left:45px; color:#ccc; font-size:31px; line-height:31px; font-family:'NanumSquareB'; }
#visual .rank5{position:absolute; top:50px; left:105px; color:#bbb; font-size:28px; line-height:38px; font-family:'NanumSquareB'; }
#visual .rank6{position:absolute; top:90px; left:150px; color:#aaa; font-size:25px; line-height:25px; font-family:'NanumSquareB'; }
#visual .rank7{position:absolute; top:140px; left:10px; color:#999; font-size:22px; line-height:22px; font-family:'NanumSquareB'; }
#visual .rank8{position:absolute; top:55px; left:15px; color:#888; font-size:19px; line-height:19px; font-family:'NanumSquareB'; }
#visual .rank9{position:absolute; top:202px; left:80px; color:#777; font-size:16px; line-height:16px; font-family:'NanumSquareB'; }
#visual .rank10{position:absolute; top:5px; left:95px; color:#666; font-size:13px; line-height:13px; font-family:'NanumSquareB'; }

#sb_top {position:relative;}
#sb_top .ttl{position:relative; padding:0 15px; background:#ac9c7f; text-align:center; font-size:18px; color:#fff; line-height:34px; text-overflow: ellipsis; white-space: nowrap;  overflow: hidden; font-family:'NanumSquareB';}
#sb_top .info{position:relative; padding:0 15px; background:#3b3c3c; }
#sb_top .txt1{position:relative; text-align:left; font-size:13px; color:#bbb; line-height:30px; width:200px; text-overflow: ellipsis; white-space: nowrap;  overflow: hidden; font-family:'NanumSquareB';}
#sb_top .txt2{position:absolute; top:0; right:15px; text-align:right; font-size:13px; color:#bbb; line-height:30px; font-family:'NanumSquareB';}

#sb_con {position:relative; padding:15px 0px; font-family:'NanumSquare'; text-align:left; line-height:22px; font-size:14px; color:#bbb;}

#btn_area{position:relative; line-height:34px;}
#btn_area ul{position:relative; overflow:auto;}
#btn_area li{position:relative; width:33.3%; float:left; }
#btn_area a.btn1{position:relative; display:block;  height:34px; line-height:34px; text-align:center; font-size:13px; font-family:'NanumSquareB'; background:#d12121; color:#fff}
#btn_area a.btn2{position:relative; display:block;  height:34px; line-height:34px; text-align:center; font-size:13px; font-family:'NanumSquareB'; background:#3b3c3c; color:#fff}
#btn_area a.btn3{position:relative; display:block;  height:34px; line-height:34px; text-align:center; font-size:13px; font-family:'NanumSquareB'; background:#e7d82d; color:#3b3c3c}

#body {position:relative; padding:0 15px; background:#161616;}
#m_con1 {position:relative;}
#m_con1 .ttl{position:relative; color:#fff; font-size:18px; font-family:'NanumSquareB'; line-height:24px;}
#m_con1 .color_bar{position:relative; border-radius:10px; height:15px; background:linear-gradient(to right, #02abe5 0%,#8fc63e 50%,#d01817 100%); background:-webkit-gradient(linear, left top, right top, color-stop(0%,#02abe5), color-stop(50%,#8fc63e), color-stop(100%,#d01817));}
#m_con1 .color_icon{position:relative;}
#m_con1 .icon1{position:absolute; top:0px; left:0px; width:33px;}
#m_con1 .icon2{position:relative; margin:0 auto; width:33px;}
#m_con1 .icon3{position:absolute; top:0px; right:0px; width:33px;}
#m_con1 .bullet{position:relative; color:#fff; font-size:20px; line-height:10px; font-family:'NanumSquareB'; text-align:center;}
#m_con1 .color_txt{position:relative; color:#fff; font-size:12px; line-height:22px; font-family:'NanumSquareB'; text-align:center;}

#m_con2 {position:relative;}
#m_con2 .ttl{position:relative; color:#fff; font-size:18px; font-family:'NanumSquareB'; line-height:24px;}
#m_con2 .list{position:relative; border-top:1px solid #393939;}
#m_con2 .list ul{position:relative;}
#m_con2 .list li{position:relative; border-bottom:1px solid #393939; padding:10px 0;}
#m_con2 .s_pic {position:relative; width:95px;}
#m_con2 .soft {position:absolute; top:5px; left:5px; width:22px; height:25px; background:url('../images/icon_soft.png')no-repeat center; background-size:100%;}
#m_con2 .normal {position:absolute; top:5px; left:5px; width:22px; height:25px; background:url('../images/icon_normal.png')no-repeat center; background-size:100%;}
#m_con2 .hard {position:absolute; top:5px; left:5px; width:22px; height:25px; background:url('../images/icon_hard.png')no-repeat center; background-size:100%;}
#m_con2 .txt_area {position:absolute; top:10px; left:105px; width:125px;}
#m_con2 .txt1 {position:relative; font-size:14px; width:130px; line-height:22px; font-family:'NanumSquareB'; text-align:left; color:#fff; text-overflow: ellipsis; white-space: nowrap;  overflow: hidden; }
#m_con2 .txt2 {position:relative; font-size:11px; width:130px; height:32px; line-height:16px; font-family:'NanumSquare'; text-align:left; color:#bbb; text-overflow: ellipsis; overflow: hidden; }
#m_con2 .txt3 {position:relative; font-size:11px; width:130px; line-height:20px; font-family:'NanumSquareB'; text-align:left; color:#bbb; text-overflow: ellipsis; white-space: nowrap;  overflow: hidden; }
#m_con2 .btn_area {position:absolute; top:10px; right:0px; width:72px;}
#m_con2 .btn_veiw {position:relative; display:block; width:100%; height:32px; line-height:32px; color:#bcbcbc; font-family:'NanumSquareB'; text-align:center; font-size:14px; border-radius:5px; border:1px solid #777; box-shadow:0px 0px 2px #000; -webkit-box-shadow:0px 0px 2px #000; -moz-box-shadow:0px 0px 2px #000; background:linear-gradient(to bottom, #666 0%,#444 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#666), color-stop(100%,#444));}
#m_con2 .btn_call {position:absolute; top:38px; left:0px; width:32px; height:32px; line-height:32px; border-radius:5px; border:1px solid #be1e1e; box-shadow:0px 0px 2px #000; -webkit-box-shadow:0px 0px 2px #000; -moz-box-shadow:0px 0px 2px #000; background:linear-gradient(to bottom, #dc2b2b 0%,#b40404 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#dc2b2b), color-stop(100%,#b40404));}
#m_con2 .btn_talk {position:absolute; top:38px; right:0px; width:32px; height:32px; line-height:32px; border-radius:5px; border:1px solid #b58d04; box-shadow:0px 0px 2px #000; -webkit-box-shadow:0px 0px 2px #000; -moz-box-shadow:0px 0px 2px #000; background:linear-gradient(to bottom, #facc2d 0%,#d4a506 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#facc2d), color-stop(100%,#d4a506));}
#m_con2 .btn_bg1 {display:block; width:32px; height:32px; background:url('../images/m_call.png')no-repeat center; background-size:70%;}
#m_con2 .btn_bg2 {display:block; width:32px; height:32px; background:url('../images/m_talk.png')no-repeat center; background-size:70%;}

#footer {position:relative; padding:0 15px 15px 15px; background:#161616;}
#footer .tab{position:relative;}
#footer .tab ul{position:relative; overflow:auto;}
#footer .tab li{position:relative; width:33.3%; float:left; height:34px;}
#footer .tab .on{position:relative; text-align:center; font-family:'NanumSquareB'; color:#fff; line-height:34px; background:#2b2b2b; border-radius:10px 10px 0px 0px;}
#footer .tab .off{position:relative; text-align:center; font-family:'NanumSquareB'; color:#fff; line-height:34px; border-radius:10px 10px 0px 0px; background:linear-gradient(to bottom, #646464 0%,#454545 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#646464), color-stop(100%,#454545));}
#footer .box1{position:relative; padding:15px; background:#2b2b2b; font-size:13px; color:#ccc; line-height:20px; font-family:'NanumSquare'; border-radius:0px 0px 10px 10px;}
#footer .btn{position:relative; margin:0 auto; width:150px; height:32px; border-radius:5px; border:1px solid #b58d04; box-shadow:0px 0px 2px #000; -webkit-box-shadow:0px 0px 2px #000; -moz-box-shadow:0px 0px 2px #000; background:linear-gradient(to bottom, #facc2d 0%,#d4a506 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#facc2d), color-stop(100%,#d4a506));}
#footer .bg{position:relative; display:block; background:url('../images/m_talk.png')no-repeat left 5px center; background-size:22px; line-height:32px; height:32px; padding-left:29px; font-size:14px; color:#3a3a3a; font-family:'NanumSquareB';}